<configuration>
<!--    <logger name="ch.qos.logback" level="ERROR" />-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight([%5level]) %cyan([%10thread] %50logger -) %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <root level="${log.level:-INFO}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>