<configuration>
  <!--    <logger name="ch.qos.logback" level="ERROR" />-->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight([%level]) %cyan([%9thread] %18logger{52} -) %highlight(%msg%n)</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${user.dir}/task5/logs.txt</file>
    <append>true</append>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%9thread] %-5level %18logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${log.level:-INFO}">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
</configuration>